key.properties
*.iml
.gradle/
local.properties
.idea/
app/keystore/*.jks
app/keystore/*.keystore
app/keystore/*.p12
app/keystore/*.pem
app/keystore/*.pkcs12
scripts/github-secrets.txt

.gradle/
**/.gradle/
gradle-8.7/
gradle-8.7-bin.zip
gradle-*-bin.zip
local.properties
*.iml
.idea/
.vscode/
.DS_Store
build/
**/build/